<div class="row">
  <div class="col-xl-12">
     <img src="" alt="" class="img-responsive">
  </div>
</div>

<div class="row">
    <div class="col-xl-12">
       <h1>Recipe Name</h1>
    </div>
</div>

<div class="row">
    <div class="col-xl-12">
        <div class="btn-group" role="group" aria-label="...">
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Manage Recipe
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="#">Add to Shopping list</a></li>
                <li><a href="#">Edit Recipe</a></li>
                <li><a href="#">Delete Recipe</a></li>
              </ul>
            </div>
          </div>
    </div>
</div>

<div class="row">
  <div class="col-md-12">
    <p>Descriptinos</p>
  </div>
</div>

<div class="row">
    <div class="col-md-12">
      <p>Incredients</p>
    </div>
  </div>